<section id="home" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up" class="text-lg-start text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          Your Ultimate Destination for Fresh and <span>Delicious Fruits!!</span>
        </h1>
        <p data-aos="fade-up" data-aos-delay="400" class="text-lg-start text-center  position-relative">At MartoFruits, <br>
          we bring you a handpicked selection <br>
          of the freshest and juiciest fruits straight <br>
           from the orchards.</p>
          <div class="text-center text-lg-start">
            <a href="#" class="">
              <button class="btn btn-success me-2 btn-lg">Shop Now</button>
              <button class="btn btn-outline-success btn-lg">See All Products</button>
            </a>
          </div>
      </div>
      <div class="col-lg-6 col-md-12 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/images/second-removebg-preview.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>
