<section class="mx-auto my-5" id="about">

  <div class="container text-center">

    <header class="section-header">
      <h2>Why Shop <span>With Us</span></h2>
      <p>
        Whether you crave the crispness of apples, <br>
 the succulence of grapes, or the tropical delight of mangoes, <br>
 we have it all and more.
      </p>
    </header>

    <div class="row d-flex justify-content-center align-items-center">

      <div class="col-lg-3 mt-4 mt-lg-0 shop ">
        <div class="box">
          <h3>Sustainable Sourcing</h3>
          <p>
             By choosing us, you support
             eco-friendly initiatives and
             responsible agriculture.</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 shop">
        <div class="box">
          <h3>Wide Variety</h3>
          <p>From exotic varieties to
            everyday favorites,
           explore a vast assortment
           of fruits that cater to every
           palate and preference.</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 shop">
        <div class="box">
          <h3>Healthy Living</h3>
          <p>Fruits are nature's way of
            gifting us with vitality.
           Embrace a healthier lifestyle
            by incorporating our fresh
           fruits into your daily diet.</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 shop">
        <div class="box">
          <h3>Special Services</h3>
          <p>Provide reliable home
             delivery services, especially
             for elderly or busy customers.</p>
        </div>
      </div>
    </div>

  </div>

</section>

