<section class="mx-auto my-5" id="services">

  <div class="container text-center">

    <header class="section-header">
      <h2>Featured <span>Services</span></h2>
      <p>
        Our commitment to quality ensures that <br>
        every bite is a burst of natural sweetness and nutrients
      </p>
    </header>

    <div class="row d-flex justify-content-center align-items-center">

      <div class="col-lg-3 mt-4 mt-lg-0 service ">
        <div class="box">
          <img src="../../../assets/images/icons8-delivery-30.png" class="img-fluid mx-auto" alt="">
          <h3>Home Delivery</h3>
          <p>Get your orders at <br>
            your doorsteps</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 service">
        <div class="box">
          <img src="../../../assets/images/icons8-price-30.png" class="img-fluid mx-auto" alt="">
          <h3>Daily Discounts</h3>
          <p>Discounted prices for <br>
            every product</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 service">
        <div class="box">
          <img src="../../../assets/images/icons8-fresh-30.png" class="img-fluid mx-auto" alt="">
          <h3>Farm Fresh Delights</h3>
          <p>Fresh and quality <br>
            products every day</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 service">
        <div class="box">
          <img src="../../../assets/images/icons8-satisfaction-30.png" class="img-fluid mx-auto" alt="">
          <h3>Customer Satisfaction</h3>
          <p>Our customers are our <br>
            top priority</p>
        </div>
      </div>
    </div>

  </div>

</section>
